@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --kumbh-sans: "Kumbh Sans";
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-repeat: no-repeat;
    background-color: var(--Dark-cyan) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main{
    font-family: var(--kumbh-sans);
    background-color: white;
    width: 350px;
    border-radius: 0.5rem;
}

.img-top{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.imgs{
    height: 200px;
    
}
.imgs img{
    position: relative;
 
}

.img-perfil{
    bottom: 48px;
    left: 128px;
    border-radius: 3rem;
    border: 4px solid white;
}



.perfil{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.stats{
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.style-1{
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

.style-2{
    font-size: 12px;
    color: var(--Dark-grayish-blue);
}

hr{
    background-color: var(--Dark-gray);
}